<h3 class="text-center">New Arrivals</h3>
  <h6 class="text-center">Just in now</h6>
  <br>
  <br>
  <div class="d-flex  justify-content-center align-items-center" >
  <table>
    
    <tr>
      <td>
  
        <div class="card img-container" style="width: 18rem;"   >
         
          <img src="assets/imga9.jpg" class="card-img-top image"  alt="...">
          
          <div class="overlay" >
            <div class="text">Hello World</div>
          </div>
        </div>
  
      </td>
      <td>
        <div class="card img-container" style="width: 18rem;" >
         
          <img src="assets/imga6.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
      </td>
      <td>
        <div class="card img-container" style="width: 18rem;" >
         
          <img src="assets/imga8.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
      </td>
      <td>
  
        <div class="card img-container" style="width: 18rem;" >
         
          <img src="assets/imga7.jpg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
  
      </td>
    </tr>

    <tr>
        <td>
    
          <div class="card img-container" style="width: 18rem;"   >
           
            <img src="assets/imga9.jpg" class="card-img-top image"  alt="...">
            
            <div class="overlay" >
              <div class="text">Hello World</div>
            </div>
          </div>
    
        </td>
        <td>
          <div class="card img-container" style="width: 18rem;" >
           
            <img src="assets/imga6.jpg" class="card-img-top image" alt="...">
            
            <div class="overlay">
              <div class="text">Hello World</div>
            </div>
          </div>
        </td>
        <td>
          <div class="card img-container" style="width: 18rem;" >
           
            <img src="assets/imga8.jpg" class="card-img-top image" alt="...">
            
            <div class="overlay">
              <div class="text">Hello World</div>
            </div>
          </div>
        </td>
        <td>
    
          <div class="card img-container" style="width: 18rem;" >
           
            <img src="assets/imga7.jpg" class="card-img-top image" alt="...">
            
            <div class="overlay">
              <div class="text">Hello World</div>
            </div>
          </div>
    
        </td>
      </tr>
  </table>
  
  </div>