



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="men" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Men
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="men">Shirts</a></li>
            <li><a class="dropdown-item" href="men">Trousers</a></li>
            <li><a class="dropdown-item" href="men">Formals</a></li>
            <li><a class="dropdown-item" href="men">Winter Wear</a></li>
            <li><a class="dropdown-item" href="men">Summer Wear</a></li>
            <li><a class="dropdown-item" href="men">Cargos</a></li>
            <li><a class="dropdown-item" href="men">Jeans</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Accessories</a></li>
            <li><a class="dropdown-item" href="#">Shoes</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Women
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Shirts</a></li>
            <li><a class="dropdown-item" href="#">Trousers</a></li>
            <li><a class="dropdown-item" href="#">Formals</a></li>
            <li><a class="dropdown-item" href="#">Winter Wear</a></li>
            <li><a class="dropdown-item" href="#">Summer Wear</a></li>
            <li><a class="dropdown-item" href="#">Dresses</a></li>
            <li><a class="dropdown-item" href="#">Co-ords</a></li>
            <li><a class="dropdown-item" href="#">Jeans</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Accessories</a></li>
            <li><a class="dropdown-item" href="#">Shoes</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Children
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Shirts</a></li>
            <li><a class="dropdown-item" href="#">Trousers</a></li>
            <li><a class="dropdown-item" href="#">Formals</a></li>
            <li><a class="dropdown-item" href="#">Winter Wear</a></li>
            <li><a class="dropdown-item" href="#">Summer Wear</a></li>
            <li><a class="dropdown-item" href="#">Dresses</a></li>
            <li><a class="dropdown-item" href="#">Co-ords</a></li>
            <li><a class="dropdown-item" href="#">Jeans</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Accessories</a></li>
            <li><a class="dropdown-item" href="#">Shoes</a></li>
          </ul>
        </li>
      


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accessories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cosmetics</a></li>
            
            <li><a class="dropdown-item" href="#">Hats</a></li>
            <li><a class="dropdown-item" href="#">Scarfs</a></li>
            <li><a class="dropdown-item" href="#">Earings</a></li>
            <li><a class="dropdown-item" href="#">Rings</a></li>
            <li><a class="dropdown-item" href="#">Necklaces</a></li>
            <li><a class="dropdown-item" href="#">Nailpolish</a></li>
          
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="register">Register</a>
        </li>
        

       
      
      
        
        
        
      </ul>
      <form class="d-flex" role="search" style="margin-right: 30px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

